<div class="form">
  <%= form_for @note, html: { multipart: true } do |f| %>
    <% if @note.errors.any? %>
      <div class="alert alert-success">
        <ul>
        <% @note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.cktext_area :body, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
    </div><br>

    <div class="field">
      <%= f.label :content %>
      <% if @note.content? %>
        <% @note.content.each do |media| %>
          <table>
            <tr>
              <td><%= image_tag(preview_or_default_image(media)) %></td>
              <td><%= link_to "#{media.file.identifier}", files_download_path(path: media.url.to_s) %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
      <%= f.file_field :content, multiple: true %>
      <%= f.hidden_field :content_cache %>
      <p>
      </p>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>