<div id="notes">

  <h1>Listing Notes</h1>

  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes.each do |note| %>
        <tr>
          <td><%= note.title %></td>
          <td><%= sanitize(note.body[0,70]) %></td>
          <td><%= link_to 'Show', note, class: "btn btn-success"%></td>
          <td><%= link_to 'Edit', edit_note_path(note), class: "btn btn-primary", 
                                          data: { 'no-turbolink'=>true} %></td>
          <td><%= link_to 'Destroy', note, method: :delete, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Note', new_note_path, data: { 'no-turbolink'=>true} %>
</div>