<div id="show">
  <h2>
    <%= @note.title %>
  </h2>

  <p>
    <%= sanitize(@note.body) %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= image_tag(@note.content) %>
  </p>

  <%= link_to 'Edit', edit_note_path(@note), data: { 'no-turbolink'=>true} %> |
  <%= link_to 'Back', notes_path %>
</div><br>